* {
    margin: 0;
}

.lis {
    font-style: italic;
    color: #fff;
}

.Central {
    text-align: center;
}

.Lin {
    text-decoration: none;
    color: blue;
}

body {
    background-color: rgb(241, 200, 146);
}

li {
    display: inline;
    padding: 0.8%;
    margin: 1.3%;
    font-family: Georgia;
}

ul { 
    width: 90%;
    max-width: 1000px;
    background-color: rgb(19, 69, 143);
    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 2px 5px 15px rgba(0, 0, 0, 0.19);
}

ul {
    padding: 0.7%;
    margin-top: 0.5%;
}

li:hover {
    background-color: rgb(34, 96, 189);
}

div {
    width: 90%;
    max-width: 1000px;
    background-color: #e7e7e5b7;
    margin: auto;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 2px 5px 15px rgba(0, 0, 0, 0.19);
}

.owo {
    width: 50%;
    max-width: 1000px;
    background-color: #b6c6df;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-family: Georgia;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 2px 5px 15px rgba(0, 0, 0, 0.19);
}

h2,p {
    padding: 10px 15px
}

p {
    text-align: justify;
    font-family: 'Bahnschrift';
}

h2 {
    font-family: Georgia;
}

.Doble {
    background-color: rgb(181, 194, 194);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 2px 5px 15px rgba(0, 0, 0, 0.19);
}

p a {
    color: black;
}

.Tits {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}

.imgs {
    width: 90%;
    height: 87%;
    box-shadow: 0 0 20px black;
}

.va {
    text-align: center;
    font-family: 'Bahnschrift';
    max-width: 1000px;
    background-color: #e7e7e5b7;
    margin: auto;
    font-size: medium;
    width: 25%;
    padding: 0.5%;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 2px 5px 15px rgba(0, 0, 0, 0.19);
}

.va2 {
    text-align: center;
    font-family: 'Bahnschrift';
    width: 65%;
    max-width: 700px;
    background-color: #e7e7e5b7;
    margin: auto;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 2px 5px 15px rgba(0, 0, 0, 0.19);
}

.va3 {
    text-align: center;
    font-family: 'Bahnschrift';
    width: 95%;
    max-width: 700px;
    background-color: #e7e7e5b7;
    margin: auto;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 2px 5px 15px rgba(0, 0, 0, 0.19);
}

h3 {
    font-family: Georgia;
}